@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding-top: 80px;
}


ul {
    list-style-type: none;
}

img.tamanho {
    width: 80px;
    height: 80px;
    margin-top: 4px;
    margin-left: -50px;
}


.porquedoar {
    width: 100%;
    height: 150%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0%;
    font-size: 125%;
}

.h2pqdoar {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Poppins', sans-serif;
}

.paragrafo1 {
    font-size: 125%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

.divh2 {
    text-align: center;
    margin-top: 2%;
    font-size: large;
}

.paragrafo2 {
    font-size: 125%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

.buttonclass2 {
    background-color: #f88f06;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    color: #fff;
    margin-left: 35%;
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 180%;
    width: 30%;
    cursor: pointer;
}

.buttonclass2:hover {
    background-color: #113D80;
    transition: all 0.15s ease-in;
}

footer {
    position: relative;
    width: 100%;
    background: #113D80;
    min-height: 100px;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 9%;
}

footer .social_icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .menu li {
    list-style: none;
}

footer .social_icon li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover {
    transform: translate(-10px);
} 

footer .menu li a {
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave\ -\ Editado.png);
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 6s linear infinite;
}
footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 6s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave_03 5s linear infinite;
}
footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_04 5s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}